*{
    margin: 0;
    padding: 0;
}
.main{
    display: flex;
    flex-direction: row-reverse;
}
.filtr{
    width: 20%;
    margin-right: 1%;
    height: 850px;
    background-color: rgb(235, 235, 235);
    border-radius: 5px;
}
.cards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
img{
    margin-top: 3%;
    margin-left: 3%;
    height: 150px;
    width:50%;
}
.one{
    border:1px solid gray;
    margin-left: 2%;
    width: 30%;
    height: 270px;
    background-color: rgb(235, 235, 235);
    border-radius: 5px;
    min-width: 200px;
}
.two{
    border:1px solid gray;
    margin-left: 3%;
    width: 30%;
    height: 270px;
    background-color: rgb(235, 235, 235);
    border-radius: 5px;
    min-width: 200px;
}
.three{
    border:1px solid gray;
    margin-left: 3%;
    width: 30%;
    height: 270px;
    background-color: rgb(235, 235, 235);
    border-radius: 5px;
    min-width: 200px;
}
.four{
    margin-top: 1%;
    border:1px solid gray;
    margin-left: 2%;
    width: 30%;
    height: 270px;
    background-color: rgb(235, 235, 235);
    border-radius: 5px;
    min-width: 200px;
}
.five{
    margin-top: 1%;
    border:1px solid gray;
    margin-left: 3%;
    width: 30%;
    height: 270px;
    background-color: rgb(235, 235, 235);
    border-radius: 5px;
    min-width: 200px;
}
.six{
    margin-top: 1%;
    border:1px solid gray;
    margin-left: 3%;
    width: 30%;
    height: 270px;
    background-color: rgb(235, 235, 235);
    border-radius: 5px;
    min-width: 200px;
}
.seven{
    margin-top: 1%;
    border:1px solid gray;
    margin-left: 2%;
    width: 30%;
    height: 270px;
    background-color: rgb(235, 235, 235);
    border-radius: 5px;
    min-width: 200px;
}
.eight{
    margin-top: 1%;
    border:1px solid gray;
    margin-left: 3%;
    width: 30%;
    height: 270px;
    background-color: rgb(235, 235, 235);
    border-radius: 5px;
    min-width: 200px;
}
.nine{
    margin-top: 1%;
    border:1px solid gray;
    margin-left: 3%;
    width: 30%;
    height: 270px;
    background-color: rgb(235, 235, 235);
    border-radius: 5px; 
    min-width: 200px;
}
.card1{
    display: flex;
}
.pone{
    margin-top: 8%;
    margin-left: 10px;
    font-size: 20px;
}
.riska{
    margin-top: 5% ;
    width: 100%;
    height: 1px;
    background-color: gray;
}
.pdiv{
    flex-direction: column;
}
.ptwo{
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(149, 162, 236);
}
.calor{
    margin-left: 3%;
    font-size: 19px;
}
.fone{
    margin-top: 5%;
    text-align: center;
    font-size: 25px;
}
.img1{
    width: 90%;
    height: 50px;
    margin-right: 10%;
    margin-top: 7%;
}
.label1{
    margin-top: 10%;
    color: rgb(9, 9, 119);
    border-radius:5px ;
    margin-left: 17%;
    text-align: center;
    width: 70%;
    height: 50px;
    background-color: rgb(207, 207, 207);
    font-size: 20px;
}
input{
    display: none;
}
.pmain{
    margin-top: 1%; 
    padding-bottom: 1%;
    justify-content: center;
    display: flex;
    font-size: 50px;
}
footer{
    margin-top: 1%;
    display: flex;
}
.fot1{
    font-size: 20px;
    margin-left:2%;
}
.fot3{
    margin-left: 77%;
    color: rgb(133, 133, 245);
}
a{
    text-decoration: none;
    color: rgb(117, 117, 247);
    font-size: 20px;
}
#fil1:checked ~ .three {
    display: none;
}
#fil1:checked ~ .four {
    display: none;
}
#fil1:checked ~ .five {
    display: none;
}
#fil1:checked ~ .six {
    display: none;
}
#fil1:checked ~ .seven {
    display: none;
}
#fil1:checked ~ .eight {
    display: none;
}
#fil1:checked ~ .nine {
    display: none;
}
#fil2:checked ~ .one {
    display: none;
}
#fil2:checked ~ .two {
    display: none;
}
#fil2:checked ~ .three {
    display: none;
}
#fil2:checked ~ .four {
    display: none;
}
#fil2:checked ~ .five {
    display: none;
}
#fil2:checked ~ .six {
    display: none;
}
#fil2:checked ~ .eight {
    display: none;
}
#fil3:checked ~ .one {
    display: none;
}
#fil3:checked ~ .two {
    display: none;
}
#fil3:checked ~ .three {
    display: none;
}
#fil3:checked ~ .four {
    display: none;
}
#fil3:checked ~ .five {
    display: none;
}
#fil3:checked ~ .seven {
    display: none;
}
#fil3:checked ~ .eight {
    display: none;
}
#fil3:checked ~ .nine {
    display: none;
}
#fil4:checked ~ .one {
    display: none;
}
#fil4:checked ~ .two {
    display: none;
}
#fil4:checked ~ .three {
    display: none;
}
#fil4:checked ~ .four {
    display: none;
}
#fil4:checked ~ .six {
    display: none;
}
#fil4:checked ~ .seven {
    display: none;
}
#fil4:checked ~ .eight {
    display: none;
}
#fil4:checked ~ .nine {
    display: none;
}
#fil5:checked ~ .one {
    display: none;
}
#fil5:checked ~ .two {
    display: none;
}
#fil5:checked ~ .five {
    display: none;
}
#fil5:checked ~ .six {
    display: none;
}
#fil5:checked ~ .seven {
    display: none;
}
#fil5:checked ~ .nine{
    display: none;
}
#fil5:checked ~ .three {
    margin-top: 1%;
}
@media(max-width:1200px){
.main{
    flex-direction: column;
}
.img1{
    display: none;
}
.fone{
    display: none;
}
.pone{
    margin-top: 0;
}
.filtr{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 200px;
    background-color: white;
}
.label1{
    width:300px;
    margin-left: 50px;
}
.card1{
    display: block;
}
.riska{
    display: none;
}
.calor{
    display: none;
}
img{
    width: 90%;
    height: 210px;
}
.pdiv{
    display: flex;
    flex-direction: row;
}
.fot3{
    margin-left: 45%;
    color: rgb(133, 133, 245);
}
}
@media(max-width:1070px){
.filtr{
    margin-left: 5%;
    padding-bottom: 100px;
}
.label1{
    width: 250px;
    margin-left: 20px;
}
}
@media(max-width:730px){
    .label1{
        width: 200px;
        margin-left: 20px;
    }
    .one , .two ,.three , .four , .five , .six ,.seven ,.eight ,.nine{
        width: 100%;
    }
    .fot3{
        margin-left: 25%;
        color: rgb(133, 133, 245);
    }
    }
